DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/runsimple
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8000/v1/auth/google/callback
STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
STRAVA_REDIRECT_URI=http://localhost:8000/v1/auth/strava/callback
APP_ENV=dev
